<div class="page-header">
	<h2> The energy consumption in {{date | date:'yyyy-MM-dd'}}</h2>
</div>
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Electric</th>
				<th>Ga</th>
				<th class="text-center">Details</th>
			</tr>
		</thead>
		
		<tbody>
			<tr *ngFor="let building of buildings">
				<td>{{building.fields.id}}</td>
				<td>{{building.fields.name}}</td>
				<td *ngFor="let entity of building.data">
					{{entity.actual}} {{entity.metric}}
				</td>
				<td class="text-center">
					<a class="link-detail" routerLink="{{building.fields.id}}" title="{{building.fields.name}}">
						<i class="fa fa-file-text-o" fa-2x aria-hidden="true"></i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
